* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3em;
}
input {
  margin: 1em;
  border: solid 1px #2e5077;
  box-shadow: 7px 3px 3px #2e5077;
  padding: 0.5em;
}
