body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  border: 2px, solid, red;
}
h2 {
  text-align: center;
  font-weight: bold;
  font-size: 2em;
}

label {
  text-align: center;
  font-size: 1.5em;
}
input {
  margin: 1em;
  border: solid 1px #2e5077;
  box-shadow: 7px 3px 3px #2e5077;
  padding: 0.3em;
}
p {
  text-align: center;
  font-size: 1.5em;
}

img {
  width: 80px;
  height: 80 px;
  align-items: center;
}
